p{
    background-color: rgba(0, 0, 255, 0.34);
    color: white;
    margin-bottom: 5px;
    width: 30%;
}
.p1{
    background-color: aquamarine;
    color: black;
}
.d1{
    display: flex;
    background-color: cadetblue;
}
h1{
    background-color: rgba(137, 43, 226, 0.443);
    width: 30%;
    height: 20%;
}
.d2{
    text-align: center;
    display: flex;
    height: 200px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(114, 58, 151, 1) 18%, rgba(96, 87, 199, 1) 50%, rgba(106, 204, 211, 0.73) 77%, rgba(96, 237, 83, 1) 100%);
}
.d3{
    display: flex;
    background-image: url(../imagems/panela.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}





/*exercicio1*/

.dd1{
    display: flex;
    background-image: url(../imagems/mini.jpg);
    margin-left: 70px;
    width: 92%;
    margin-top: 30px;
    height: 210px;
}
.dg1{
    margin-top: 35px;
    margin-left: 14%;
}
.img1{
    width: 230px;
    height:130px ;
   
}
.hh1{
    background-color: rgb(0, 76, 255);
    height: 50px;
    width: 150px;
    height:78px ;
    text-align: center;
    margin-top: 35px;
    margin-left: 14%;
    padding-left: 78px;
    padding-top: 45px;
    border: 2px solid black;
    
}
.hh1 h1{
    color: white;
    font-size: 30px;
    
}


.dd2{
    display: flex;
    background-image: url(../imagems/mo.jpg);
    margin-left: 70px;
    width: 92%;
    margin-top: 30px;
    height: 210px;
}
.hh2{
    background-color: rgba(0, 76, 255, 0);
    height: 150px;
    width: 250px;
    border: 4px solid black;
    
    margin-left: 14%;
}
.hhh2{
    background-color: rgba(0, 76, 255, 0);
    height: 150px;
    width: 250px;
    border: 4px solid black;
    margin-top: 15px;
    margin-left: 14%;
}
.hh2 h2{
    color: black;
    font-size: 90px;
    margin-left: 15px;
    margin-top: 20px;
    
    
}
.hhh2 h2{
    color: black;
    font-size: 90px;
    margin-left: 15px;
    
    
    
}



.dd3{
    display: flex;
    background: linear-gradient(90deg,rgba(0, 61, 10, 1) 4%, rgba(2, 0, 36, 1) 20%, rgba(9, 9, 121, 1) 45%, rgba(193, 4, 200, 1) 73%, rgba(0, 212, 255, 1) 92%);
    margin-left: 70px;
    width: 92%;
    margin-top: 30px;
    height: 210px;
}
.hh3{
    border: 3px solid gray;
    height: 120px;
    width: 260px;
    margin-top: 20px;
    margin-left: 14%;
}
.hh3 h3{
    color: white;
    font-size: 90px;
    margin-left:25px;
    margin-top: 14px;
    
    
}
.hhh3{
    height: 150px;
    width: 190px;
    margin-left: 260px;
    margin-top: 20px;
}
.hhh3 img{
    height: 100%;
    width: 100%;
}


.hhha3{
    height: 175px;
    width: 260px;
    margin-left: 260px;
    margin-top: 10px;
}
.hhha3 img{
    height: 100%;
    width: 100%;
}

.dd4{
    background-color: darkcyan;
    display: flex;
    margin-left: 70px;
    width: 92%;
    margin-top: 30px;
    height: 160px;
    border: 2px solid black;
}

.hh4{
    height: 120px;  
    width: 811px;
    margin-top: 18px;
    margin-left: 33%;
}
.hh4 h4{
    font-size: 120px;
    color: white;
}


/*exercicio 2*/
.x2d1{
    display: flex;
    flex-wrap: wrap;
}
.x2d2 p{
    color: white;
    background-color: rgba(0, 0, 255, 0.766);
    border: 3px solid black;
    height: 60px;
    width: 160px;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.x2d2 img{
    height: 120px;
    width: 218px;
}
.x2d2 h1{
    margin-top: 20px;
    color: black;
    border: 3px solid black;
    height: 20px;
    width: 160px;
    padding-left: 50px;
    padding-top: 6px;
}




